@import url(reset.css);

@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');

html {
  background-color: white;
  font-family: "Dosis", sans-serif;
}

body,
ul,
li {
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}

.menu-list {
  list-style: none;
}

.header {
  background: linear-gradient(90.34deg, #FD712C 0.12%, #FD6E2F 15.71%, #FC6636 30.26%, #F9504B 52.08%, #F01E75 99.88%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 1.625rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.logo {
  padding-left: 9.5rem;
  max-width: 100%;
  display: block;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
  padding-right: 9.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  list-style: none;
}

.menu li {
  margin-left: 35px;
}

.menu li a {
  padding: 8px 20px;
}

.download {
  position: relative;
  top: 0;
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  border-radius: 100px;
  outline: none;
  background: white;
  color: black;
  text-decoration: none;
  border: none;
  font-weight: bolder;
  transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
}

.download:hover {
  top: -5px;
  box-shadow: 0 2px 10px 0 #434343;
}

.download:active {
  top: 0;
  box-shadow: 0 2px 10px 0 #434343;
}

.mockup {
  display: block;
  background: linear-gradient(90.34deg, #FD712C 0.12%, #FD6E2F 15.71%, #FC6636 30.26%, #F9504B 52.08%, #F01E75 99.88%);
  margin: 0;
  padding: 0;
  height: 20%;
}

.first-block-wrapper-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  vertical-align: baseline;
  text-decoration: none;
  max-height: 1000px;
}

.left-block-content {
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  vertical-align: baseline;
  padding: 0;
}

.title-one {
  padding-right: 20rem;
  padding-top: 9.5rem;
  color: white;
  max-width: 400px;
  display: block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-right: 20rem;
  font-weight: bolder;
}

.p-one {
  color: white;
  max-width: 500px;
  display: block;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
  line-height: 1.2rem;
}

li {
  padding-top: 1rem;
}

.start-exploring-us {
  height: 40px;
  width: 140px;
  margin-top: 2rem;
  position: relative;
  top: 0;
  font-family: "Dosis", sans-serif;
  font-size: 0.8rem;
  border-radius: 100px;
  outline: none;
  background: white;
  color: black;
  text-decoration: none;
  border: 3px solid #E2602C;
  font-weight: bolder;
  transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
}

.start-exploring-us:hover {
  top: -5px;
  box-shadow: 0 2px 10px 0 #434343;
}

.start-exploring-us:active {
  top: 0;
  box-shadow: 0 2px 10px 0 #434343;
}

.iphone-mockup {
  position: absolute;
  display: block;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  vertical-align: baseline;
  padding-left: 540px;
}

.description {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  max-width: 1100px;
  margin: 5rem auto;
}

.description > div {
  flex: 1 1 260px;
  margin: 10px;
}

.block-title {
  font-size: 1rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.flex-img {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.description-img {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.div-wrapper {
  max-width: 80%;
  line-height: 1.2rem;
}

p {
  color: grey;
}

.wrapper-divider
{
	padding-bottom: 5rem;
}

.divider
{
	position: relative;
	margin-top: 1.5rem;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 1.5px;
	background-color: #EEEEEE;
}

.large-mockup {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  max-width: 1500px;
  margin: 0 auto;
}

.large-mockup > div {
  flex: 1 1 260px;
  margin: 10px;
}

.mockup-title {
  font-size: 1.625rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  max-width: 620px;
  margin-top: 2.1rem;
}

.large-mockup-img {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.description-mockup-img {
  margin-right: 11.5rem;
}

.div-mockup-wrapper {
  max-width: 690px;
}

.p-title {
  color: grey;
  max-width: 520px;
  display: block;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}

.mockup-list {
  color: grey;
  max-width: 520px;
  display: block;
  margin-bottom: 2rem;
  padding-top: 0.5rem;
}

.carousel-header {
  box-sizing: border-box;
  text-align: center;
  margin: 5rem 2rem;
}

.carousel {
  margin: 0;
  padding-bottom: 5rem;
  box-sizing: border-box;
  background-color: #F7FAFC;
}

.carousel-container {
  position: relative;
  margin: auto;
  width: 80%;
  text-align: center;
  border: 5px solid #F7FAFC;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 80%;
  height: 700px;
}

#prevBtn {
  border: 3px solid #DEE1E3;
  width: 48px;
  height: 32px;
  border-radius: 100px;
  padding-top: 1rem;
  background: white;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 5%;
  font-style: 30px;
  opacity: 0.5;
  cursor: pointer;
}

#prevBtn:hover {
  background: linear-gradient(90deg, #FC722E 5.17%, #F32177 100%);
  opacity: 1;
  color: white;
}

#nextBtn {
  border: 3px solid #DEE1E3;
  width: 48px;
  height: 32px;
  border-radius: 100px;
  padding-top: 1rem;
  background: white;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 5%;
  font-style: 30px;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn:hover {
  background: linear-gradient(90deg, #FC722E 5.17%, #F32177 100%);
  opacity: 1;
  color: white;
}

.pricing {
  margin: auto;
  width: 80%;
  padding-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.place-for-price {
  padding-bottom: 2rem;
}

.basic, .premium, .enterprise {
  width: 20%;
  height: 100%;
  background-color: #F7FAFC;
}

.standard {
  width: 20%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.price_title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.spec-list {
  color: grey;
  padding-top: 0.5rem;
}

.basic-info, .standard-info, .premium-info, .enterprise-info {
  padding-top: 0rem;
}

.divider
{
	position: relative;
	margin-top: 0.5rem;
	height: 1px;
}

.div-dotted:before {
	content: "";
	position: absolute;
	top: 0;
	left: 10%;
	right: 10%;
	width: 80%;
	height: 1.5px;
	background-color: none;
  border-top: 2px dashed rgba(0, 0, 0, 0.1);
}

.start-trial {
  color: grey;
  padding-top: 5rem;
}

button {
  position: relative;
  top: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: white;
  height: 40px;
  width: 140px;
  border: 2px solid #DEE1E3;
  border-radius: 100px;
  font-weight: bolder;
  font-family: "Dosis", sans-serif;
  outline: none;
  transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
}

.standard-button {
  position: relative;
  top: 0;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #FD712C 0%, #F94F4C 48.85%, #F31F79 100%);
  border: 3px solid #DEE1E3;
  color: white;
  outline: none;
  transition: box-shadow 0.2s ease-out, top 0.2s ease-out;
}

button:hover {
  top: -5px;
  box-shadow: 0 2px 10px 0 #434343;
}

button:active {
  top: 0;
  box-shadow: 0 2px 10px 0 #434343;
}

.standard-button:hover {
  top: -5px;
  box-shadow: 0 2px 10px 0 #434343;
}

.standard-button:active {
  top: 0;
  box-shadow: 0 2px 10px 0 #434343;
}

.video {
  margin: 0;
}

.review {
  width: 100%;
  height: 80%;
  background-color: white;
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  z-index: 0;
}

.review-cards {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  max-width: 80%;
  margin: 5rem auto;
}

.review-cards > div {
  flex: 1 1 260px;
  margin: 10px;
}

.review-header {
  color: black;
  padding-top: 4rem;
  text-align: center;
  align-items: center;
}

.descr-review {
  color: grey;
}
/*
.review-arrows {
  padding-top: 12%;
}
*/
.alexandra, .samantha {
  background-color: #F7FAFC;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.gary-white {
  background-color: white;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
}

.userpic-img {
  float: left;
  height: 50%;
  padding: 1rem;
}

.review-text {
  text-align: left;
  color: grey;
  display: inline-block;
  float: left;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  line-height: 2rem;
}

.review-info {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
}

.name-and-company {
  text-align: left;
  float: left;
  padding-top: 3.3rem;
  padding-left: 1rem;
}

.person-name {
  color: black;
  font-size: 1rem;
  font-weight: bolder;
  padding-bottom: 1rem;
}

/*
download section
*/
.download-app {
  margin-top: 5rem;
  width: 100%;
  height: 80%;
  background: linear-gradient(90.57deg, #FD712C 0.12%, #FD712C 15.19%, #F9504B 52.08%, #F01E75 99.88%);
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 2rem;
  z-index: 0;
}

.download-container {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  max-width: 80%;
  margin: 5rem auto;
}

.download-container > div {
  flex: 1 1 260px;
  margin: 10px;
}

.download-giant {
  padding-top: 4rem;
}

.apple, .android, .windows {
  background-color: white;
  display: flex;
  box-sizing: border-box;
}

.apple-img, .android-img, .windows-img {
  float: left;
  height: 100%;
}

.app-heading {
  text-align: left;
  float: left;
  padding-top: 3.3rem;
  padding-left: 1rem;
}

.app-heading-download {
  color: black;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-bottom: 1rem;
}

.app-descr {
  font-size: 1rem;
  color: grey;
}

.footer {
  height: 8.375rem;
  width: 100%;
  background-color: #222222;
  display: flex;
  color: white;
  padding-top: 1rem;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.footer-content {
  padding-top: 1rem;
  font-size: 0.9rem;
}
